<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styleR.css" />
    {{!--
    <link rel="stylesheet" href="siconic.css" /> --}}
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="contaner">
            <div class="content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>
                    "Raktakosh" does not refer to anything specific related to Odisha or
                    any other place. "Raktakosh" translates to "blood bank" in Hindi, and
                    it might be used to refer to a blood storage facility or organization
                    involved in blood donation and storage.
                </p>
                <ul class="links">
                    <li><a href="#">work</a></li>
                    <div class="vertical-line"></div>
                    <li><a href="#">service</a></li>
                    <div class="vertical-line"></div>
                    <li><a href="#">contact</a></li>
                </ul>
                <ul class="icons">
                    <li>
                        <i class="fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa fa-github"></i>
                    </li>
                    <li>
                        <i class="fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
    </section>
    <br /><br />
    <div class="credit">
        Made with <span style="color: tomato">❤</span> by
        <a href="https://www.learningrobo.com/">RAKTAKOSH_ODISHA</a>
    </div>
</body>

</html>