<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/camp.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand ms-2" href="#"><img src="image/LOGO .png" alt="" width="45vw" /></a>
      <a class="navbar-brand px-1" id="hname" href="#">Raktkosh</a>
      <button class="navbar-toggler bg-dark-subtle" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/Homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Help</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="campcard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM
        </h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-success-emphasis">4 Oct 2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP 2</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP 1</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP 1</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP 1</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-Date mb-2 text-body-secondary text-success">4 Oct
          2023, 8:00 AM</h6>
        <h5 class="card-title text-primary">MEGA BLOOD DONATION CAMP 1</h5>
        <p class="card-text">GITA AUTONOMOUS COLLEGE </p>
        <p class="card-text">ORGANIZED BY: Odisha Mo Parivar jeeven Bindu </p>
        <button class="card-btn1">Register as Voluntary</button>
        <button class="card-btn2">9348614871</button>
      </div>
    </div>

  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</html>