<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/cont.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <meta name="viewpoint" content="width=device-width , initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Bhubaneswar</div>
            <div class="text-two">Gita collage</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">8327746884</div>
            <div class="text-two">9348514781</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">6371300985</div>
            <div class="text-one">s4sambit632@gmail.com</div>
            <div class="text-two"></div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">send us a message </div>
          <p>if you have any issue in website or any type of quries related
            about our service,you can send msg from here.it's our pleasure to
            help you</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email" />
            </div>
            <div class="input-box message-box">
              <textarea></textarea>
            </div>
            <div class="button">
              <input type="button" value="Send Now" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>